{
  "semi": true,
  "singleQuote": true,
  "printWidth": 90,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": { "parser": "astro" }
    },
    {
      "files": "*.md",
      "options": { "proseWrap": "preserve" }
    }
  ]
}
